<!doctype html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <div class="background"></div>
    <div class="content">
      <h1>{{.Message}}</h1>
      <p>Bienvenue sur la page d'accueil</p>
    </div>

    <!-- Images cliquables -->
    <a href="/album/damso">
      <img src="/image/damso.jpg" alt="Damso" class="damso" />
    </a>

    <a href="/track/laylow">
      <img src="/image/laylow.png" alt="Laylow" class="laylow" />
    </a>
  </body>
</html>
