body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

h1 {
    color: #1db954;
}

/* Fond flouté */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/image/fond.avif") no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

/* Contenu */
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 20%;
}

a {
  display: block;        /* le lien devient un bloc */
  position: absolute;    /* on peut le placer où on veut */
}

/* Damso */
.damso-link {
  bottom: 400px;
  left: 400px;
  width: 300px;
}

.damso-link img {
  width: 100%;           /* l'image occupe toute la largeur du lien */
  height: auto;
  display: block;
}

/* Laylow */
.laylow-link {
  bottom: 400px;
  right: 400px;
  width: 300px;
}

.laylow-link img {
  width: 100%;
  height: auto;
  display: block;
}
